/* Element Chalk Variables */

/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1);
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--fade-linear-transition: opacity 200ms linear;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);
$--fill-transition-base: fill .2s cubic-bezier(.645,.045,.355,1);

/* Colors
-------------------------- */
$--color-white: #fff;
$--color-black: #000;

$--color-primary: #3d90ff;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%);
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%);
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%);
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%);
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%);
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%);
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%);
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%);
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%);

$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

$--color-success-light: mix($--color-white, $--color-success, 80%);
$--color-warning-light: mix($--color-white, $--color-warning, 80%);
$--color-danger-light: mix($--color-white, $--color-danger, 80%);
$--color-info-light: mix($--color-white, $--color-info, 80%);

$--color-success-lighter: mix($--color-white, $--color-success, 90%);
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%);
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%);
$--color-info-lighter: mix($--color-white, $--color-info, 90%);

$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

$--color-background-main-header: #f5f7fa;
$--color-border-main-header: #e4e7ed;
$--color-background-main-aside: #f5f7fa;
$--color-border-main-main-aside: #e4e7ed;
$--color-background-main-content: #e8eaed;

/* Link
-------------------------- */
$--link-color: $--color-primary-light-2;
$--link-hover-color: $--color-primary;

/* Background
-------------------------- */
$--background-color-base: #f5f7fa;

/* Border
-------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-color-base: #dcdfe6;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;
$--border-color-extra-light: #f2f6fc;
$--border-color-hover: $--color-text-placeholder;
$--border-base: $--border-width-base $--border-style-base $--border-color-base;
$--border-radius-base: 4px;
$--border-radius-small: 2px;
$--border-radius-circle: 100%;

/* Box-shadow
-------------------------- */
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$--box-shadow-darker: 0 2px 4px rgba(0, 0, 0, .50), 0 0 6px rgba(0, 0, 0, .12);

/* Fill
-------------------------- */
$--fill-base: $--color-white;

/* Font
-------------------------- */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-size-base: 14px;
$--font-size-small: 13px;
$--font-size-large: 18px;
$--font-color-disabled-base: #bbb;
$--font-weight-primary: 500;
$--font-line-height-primary: 24px;

/* Size
-------------------------- */
$--size-base: 14px;

/* z-index
-------------------------- */
$--index-normal: 1;
$--index-top: 1000;
$--index-popper: 2000;

/* Disable base
-------------------------- */
$--disabled-fill-base: $--background-color-base;
$--disabled-color-base: $--color-text-placeholder;
$--disabled-border-base: $--border-color-light;

/* Icon
-------------------------- */
$--icon-color: #666;
$--icon-color-base: $--color-info;

/* Checkbox
-------------------------- */
$--checkbox-font-size: 14px;
$--checkbox-font-weight: $--font-weight-primary;
$--checkbox-color: $--color-text-regular;
$--checkbox-input-height: 14px;
$--checkbox-input-width: 14px;
$--checkbox-input-border-radius: $--border-radius-small;
$--checkbox-input-fill: $--color-white;
$--checkbox-input-border: $--border-base;
$--checkbox-input-border-color: $--border-color-base;
$--checkbox-icon-color: $--color-white;

$--checkbox-disabled-input-border-color: $--border-color-base;
$--checkbox-disabled-input-fill: #edf2fc;
$--checkbox-disabled-icon-color: $--color-text-placeholder;

$--checkbox-disabled-checked-input-fill: $--border-color-extra-light;
$--checkbox-disabled-checked-input-border-color: $--border-color-base;
$--checkbox-disabled-checked-icon-color: $--color-text-placeholder;

$--checkbox-checked-text-color: $--color-primary;
$--checkbox-checked-input-border-color: $--color-primary;
$--checkbox-checked-input-fill: $--color-primary;
$--checkbox-checked-icon-color: $--fill-base;

$--checkbox-input-border-color-hover: $--color-primary;

$--checkbox-bordered-height: 40px;
$--checkbox-bordered-padding: 9px 20px 9px 10px;
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px;
$--checkbox-bordered-small-padding: 5px 15px 5px 10px;
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px;
$--checkbox-bordered-medium-input-height: 14px;
$--checkbox-bordered-medium-input-width: 14px;
$--checkbox-bordered-medium-height: 36px;
$--checkbox-bordered-small-input-height: 12px;
$--checkbox-bordered-small-input-width: 12px;
$--checkbox-bordered-small-height: 32px;
$--checkbox-bordered-mini-input-height: 12px;
$--checkbox-bordered-mini-input-width: 12px;
$--checkbox-bordered-mini-height: 28px;

$--checkbox-button-font-size: $--font-size-base;
$--checkbox-button-checked-fill: $--color-primary;
$--checkbox-button-checked-color: $--color-white;
$--checkbox-button-checked-border-color: $--color-primary;



/* Radio
-------------------------- */
$--radio-font-size: 14px;
$--radio-font-weight: $--font-weight-primary;
$--radio-color: $--color-text-regular;
$--radio-input-height: 14px;
$--radio-input-width: 14px;
$--radio-input-border-radius: $--border-radius-circle;
$--radio-input-fill: $--color-white;
$--radio-input-border: $--border-base;
$--radio-input-border-color: $--border-color-base;
$--radio-icon-color: $--color-white;

$--radio-disabled-input-border-color: $--disabled-border-base;
$--radio-disabled-input-fill: $--disabled-fill-base;
$--radio-disabled-icon-color: $--disabled-fill-base;

$--radio-disabled-checked-input-border-color: $--disabled-border-base;
$--radio-disabled-checked-input-fill: $--disabled-fill-base;
$--radio-disabled-checked-icon-color: $--color-text-placeholder;

$--radio-checked-text-color: $--color-primary;
$--radio-checked-input-border-color: $--color-primary;
$--radio-checked-input-fill: $--color-white;
$--radio-checked-icon-color: $--color-primary;

$--radio-input-border-color-hover: $--color-primary;

$--radio-bordered-height: 40px;
$--radio-bordered-padding: 12px 20px 0 10px;
$--radio-bordered-medium-padding: 10px 20px 0 10px;
$--radio-bordered-small-padding: 8px 15px 0 10px;
$--radio-bordered-mini-padding: 6px 15px 0 10px;
$--radio-bordered-medium-input-height: 14px;
$--radio-bordered-medium-input-width: 14px;
$--radio-bordered-medium-height: 36px;
$--radio-bordered-small-input-height: 12px;
$--radio-bordered-small-input-width: 12px;
$--radio-bordered-small-height: 32px;
$--radio-bordered-mini-input-height: 12px;
$--radio-bordered-mini-input-width: 12px;
$--radio-bordered-mini-height: 28px;

$--radio-button-font-size: $--font-size-base;
$--radio-button-checked-fill: $--color-primary;
$--radio-button-checked-color: $--color-white;
$--radio-button-checked-border-color: $--color-primary;
$--radio-button-disabled-checked-fill: $--border-color-extra-light;

/* Select
-------------------------- */
$--select-border-color-hover: $--border-color-hover;
$--select-disabled-border: $--disabled-border-base;
$--select-font-size: $--font-size-base;
$--select-close-hover-color: $--color-text-secondary;

$--select-input-color: $--color-text-placeholder;
$--select-multiple-input-color: #666;
$--select-input-focus-background: $--color-primary;
$--select-input-font-size: 14px;

$--select-option-color: $--color-text-regular;
$--select-option-disabled-color: $--color-text-placeholder;
$--select-option-disabled-background: $--color-white;
$--select-option-height: 34px;
$--select-option-hover-background: $--background-color-base;
$--select-option-selected: $--color-primary;
$--select-option-selected-hover: $--background-color-base;

$--select-group-color: $--color-info;
$--select-group-height: 30px;
$--select-group-font-size: 12px;

$--select-dropdown-background: $--color-white;
$--select-dropdown-shadow: $--box-shadow-light;
$--select-dropdown-empty-color: #999;
$--select-dropdown-max-height: 274px;
$--select-dropdown-padding: 6px 0;
$--select-dropdown-empty-padding: 10px 0;
$--select-dropdown-border: solid 1px $--border-color-light;

/* Alert
-------------------------- */
$--alert-padding: 8px 16px;
$--alert-border-radius: $--border-radius-base;
$--alert-title-font-size: 13px;
$--alert-description-font-size: 12px;
$--alert-close-font-size: 12px;
$--alert-close-customed-font-size: 13px;

$--alert-success-color: $--color-success-lighter;
$--alert-info-color: $--color-info-lighter;
$--alert-warning-color: $--color-warning-lighter;
$--alert-danger-color: $--color-danger-lighter;

$--alert-icon-size: 16px;
$--alert-icon-large-size: 28px;

/* Message Box
-------------------------- */
$--msgbox-width: 420px;
$--msgbox-border-radius: 4px;
$--msgbox-font-size: $--font-size-large;
$--msgbox-content-font-size: $--font-size-base;
$--msgbox-content-color: $--color-text-regular;
$--msgbox-error-font-size: 12px;
$--msgbox-padding-primary: 15px;

$--msgbox-success-color: $--color-success;
$--msgbox-info-color: $--color-info;
$--msgbox-warning-color: $--color-warning;
$--msgbox-danger-color: $--color-danger;

/* Message
-------------------------- */
$--message-shadow: $--box-shadow-base;
$--message-min-width: 380px;
$--message-background-color: #edf2fc;
$--message-padding: 15px 15px 15px 20px;
$--message-content-color: $--color-text-regular;
$--message-close-color: $--color-text-placeholder;
$--message-close-size: 16px;
$--message-close-hover-color: $--color-text-secondary;

$--message-success-color: $--color-success;
$--message-info-color: $--color-info;
$--message-warning-color: $--color-warning;
$--message-danger-color: $--color-danger;

/* Notification
-------------------------- */
$--notification-width: 330px;
$--notification-padding: 14px 26px 14px 13px;
$--notification-radius: 8px;
$--notification-shadow: $--box-shadow-light;
$--notification-border-color: $--border-color-lighter;
$--notification-icon-size: 24px;
$--notification-close-font-size: $--message-close-size;
$--notification-group-margin: 13px;
$--notification-font-size: $--font-size-base;
$--notification-color: $--color-text-regular;
$--notification-title-font-size: 16px;
$--notification-title-color: $--color-text-primary;

$--notification-close-color: $--color-text-secondary;
$--notification-close-hover-color: $--color-text-regular;

$--notification-success-color: $--color-success;
$--notification-info-color: $--color-info;
$--notification-warning-color: $--color-warning;
$--notification-danger-color: $--color-danger;

/* Input
-------------------------- */
$--input-font-size: $--font-size-base;
$--input-color: $--color-text-regular;
$--input-width: 140px;
$--input-height: 40px;
$--input-border: $--border-base;
$--input-border-color: $--border-color-base;
$--input-border-radius: $--border-radius-base;
$--input-border-color-hover: $--border-color-hover;
$--input-fill: $--color-white;
$--input-fill-disabled: $--disabled-fill-base;
$--input-color-disabled: $--font-color-disabled-base;
$--input-icon-color: $--color-text-placeholder;
$--input-placeholder-color: $--color-text-placeholder;
$--input-max-width: 314px;

$--input-hover-border: $--border-color-hover;
$--input-clear-hover-color: $--color-text-secondary;

$--input-focus-border: $--color-primary;
$--input-focus-fill: $--color-white;

$--input-disabled-fill: $--disabled-fill-base;
$--input-disabled-border: $--disabled-border-base;
$--input-disabled-color: $--disabled-color-base;
$--input-disabled-placeholder-color: $--color-text-placeholder;

$--input-medium-font-size: 14px;
$--input-medium-height: 36px;

$--input-small-font-size: 13px;
$--input-small-height: 32px;

$--input-mini-font-size: 12px;
$--input-mini-height: 28px;

/* Cascader
-------------------------- */
$--cascader-menu-fill: $--fill-base;
$--cascader-menu-font-size: $--font-size-base;
$--cascader-menu-radius: $--border-radius-base;
$--cascader-menu-border: $--border-base;
$--cascader-menu-border-color: $--border-color-base;
$--cascader-menu-border-width: $--border-width-base;
$--cascader-menu-color: $--color-text-regular;
$--cascader-menu-option-color-active: $--color-text-secondary;
$--cascader-menu-option-fill-active: rgba($--color-text-secondary, 0.12);
$--cascader-menu-option-color-hover: $--color-text-regular;
$--cascader-menu-option-fill-hover: rgba($--color-text-primary, 0.06);
$--cascader-menu-option-color-disabled: #999;
$--cascader-menu-option-fill-disabled: rgba($--color-black, 0.06);
$--cascader-menu-option-empty-color: #666;
$--cascader-menu-group-color: #999;
$--cascader-menu-shadow: 0 1px 2px rgba($--color-black, 0.14), 0 0 3px rgba($--color-black, 0.14);
$--cascader-menu-option-pinyin-color: #999;
$--cascader-menu-submenu-shadow: 1px 1px 2px rgba($--color-black, 0.14), 1px 0 2px rgba($--color-black, 0.14);

/* Group
-------------------------- */
$--group-option-flex: 0 0 (1/5) * 100%;
$--group-option-offset-bottom: 12px;
$--group-option-fill-hover: rgba($--color-black, 0.06);
$--group-title-color: $--color-black;
$--group-title-font-size: $--font-size-base;
$--group-title-width: 66px;

/* Tab
-------------------------- */
$--tab-font-size: $--font-size-base;
$--tab-border-line: 1px solid #e4e4e4;
$--tab-header-color-active: $--color-text-secondary;
$--tab-header-color-hover: $--color-text-regular;
$--tab-header-color: $--color-text-regular;
$--tab-header-fill-active: rgba($--color-black, 0.06);
$--tab-header-fill-hover: rgba($--color-black, 0.06);
$--tab-vertical-header-width: 90px;
$--tab-vertical-header-count-color: $--color-white;
$--tab-vertical-header-count-fill: $--color-text-secondary;

/* Button
-------------------------- */
$--button-font-size: 14px;
$--button-font-weight: $--font-weight-primary;
$--button-border-radius: $--border-radius-base;
$--button-padding-vertical: 12px;
$--button-padding-horizontal: 20px;

$--button-medium-font-size: 14px;
$--button-medium-border-radius: $--border-radius-base;
$--button-medium-padding-vertical: 10px;
$--button-medium-padding-horizontal: 20px;

$--button-small-font-size: 12px;
$--button-small-border-radius: #{$--border-radius-base - 1};
$--button-small-padding-vertical: 9px;
$--button-small-padding-horizontal: 15px;

$--button-mini-font-size: 12px;
$--button-mini-border-radius: #{$--border-radius-base - 1};
$--button-mini-padding-vertical: 7px;
$--button-mini-padding-horizontal: 15px;

$--button-default-color: $--color-text-regular;
$--button-default-fill: $--color-white;
$--button-default-border: $--border-color-base;

$--button-disabled-color: $--color-text-placeholder;
$--button-disabled-fill: $--color-white;
$--button-disabled-border: $--border-color-lighter;

$--button-primary-border: $--color-primary;
$--button-primary-color: $--color-white;
$--button-primary-fill: $--color-primary;

$--button-success-border: $--color-success;
$--button-success-color: $--color-white;
$--button-success-fill: $--color-success;

$--button-warning-border: $--color-warning;
$--button-warning-color: $--color-white;
$--button-warning-fill: $--color-warning;

$--button-danger-border: $--color-danger;
$--button-danger-color: $--color-white;
$--button-danger-fill: $--color-danger;

$--button-info-border: $--color-info;
$--button-info-color: $--color-white;
$--button-info-fill: $--color-info;

$--button-hover-tint-percent: 20%;
$--button-active-shade-percent: 10%;


/* cascader
-------------------------- */
$--cascader-height: 200px;

/* Switch
-------------------------- */
$--switch-on-color: $--color-primary;
$--switch-off-color: $--border-color-base;
$--switch-disabled-color: $--border-color-lighter;
$--switch-disabled-text-color: $--color-text-placeholder;

$--switch-font-size: $--font-size-base;
$--switch-core-border-radius: 10px;
$--switch-width: 40px;
$--switch-height: 20px;
$--switch-button-size: 16px;

/* Dialog
-------------------------- */
$--dialog-background-color: $--color-primary-light-4;
$--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$--dialog-close-hover-color: $--color-primary;
$--dialog-title-font-size: $--font-size-large;
$--dialog-font-size: 14px;
$--dialog-line-height: $--font-line-height-primary;
$--dialog-padding-primary: 20px;

/* Table
-------------------------- */
$--table-border-color: $--border-color-lighter;
$--table-border: 1px solid $--table-border-color;
$--table-text-color: $--color-text-regular;
$--table-header-color: $--color-text-secondary;
$--table-row-hover-background: $--background-color-base;
$--table-current-row-background: $--color-primary-light-9;
$--table-header-background: $--color-white;
$--table-footer-background: $--color-text-placeholder;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12);

/* Pagination
-------------------------- */
$--pagination-font-size: 13px;
$--pagination-fill: $--color-white;
$--pagination-color: $--color-text-primary;
$--pagination-border-radius: 3px;
$--pagination-button-color: $--color-text-primary;
$--pagination-button-width: 35.5px;
$--pagination-button-height: 28px;
$--pagination-button-disabled-color: $--color-text-placeholder;
$--pagination-button-disabled-fill: $--color-white;
$--pagination-hover-fill: $--color-primary;
$--pagination-hover-color: $--color-white;

/* Popover
-------------------------- */
$--popover-fill: $--color-white;
$--popover-font-size: $--font-size-base;
$--popover-border-color: $--border-color-lighter;
$--popover-arrow-size: 6px;
$--popover-padding: 12px;
$--popover-padding-large: 18px 20px;
$--popover-title-font-size: 16px;
$--popover-title-color: $--color-text-primary;

/* Tooltip
-------------------------- */
$--tooltip-fill: $--color-text-primary;
$--tooltip-color: $--color-white;
$--tooltip-font-size: 12px;
$--tooltip-border-color: $--color-text-primary;
$--tooltip-arrow-size: 6px;
$--tooltip-padding: 10px;

/* Tag
-------------------------- */
$--tag-padding: 0 10px;
$--tag-fill: rgba($--color-primary, 0.10);
$--tag-color: $--color-primary;
$--tag-border: rgba($--color-primary, 0.20);
$--tag-font-size: 12px;
$--tag-border-radius: 4px;

$--tag-info-fill: rgba($--color-info, 0.10);
$--tag-info-border: rgba($--color-info, 0.20);
$--tag-info-color: $--color-info;

$--tag-primary-fill: rgba($--color-primary, 0.10);
$--tag-primary-border: rgba($--color-primary, 0.20);
$--tag-primary-color: $--color-primary;

$--tag-success-fill: rgba($--color-success, 0.10);
$--tag-success-border: rgba($--color-success, 0.20);
$--tag-success-color: $--color-success;

$--tag-warning-fill: rgba($--color-warning, 0.10);
$--tag-warning-border: rgba($--color-warning, 0.20);
$--tag-warning-color: $--color-warning;

$--tag-danger-fill: rgba($--color-danger, 0.10);
$--tag-danger-border: rgba($--color-danger, 0.20);
$--tag-danger-color: $--color-danger;

/* Tree
-------------------------- */
$--tree-node-hover-color: $--background-color-base;
$--tree-text-color: $--color-text-regular;
$--tree-expand-icon-color: $--color-text-placeholder;

/* Dropdown
-------------------------- */
$--dropdown-menu-box-shadow: $--box-shadow-light;
$--dropdown-menuItem-hover-fill: $--color-primary-light-9;
$--dropdown-menuItem-hover-color: $--link-color;

/* Badge
-------------------------- */
$--badge-fill: $--color-danger;
$--badge-radius: 10px;
$--badge-font-size: 12px;
$--badge-padding: 6px;
$--badge-size: 18px;

/* Card
--------------------------*/
$--card-border-color: $--border-color-lighter;
$--card-border-radius: 4px;
$--card-padding: 20px;

/* Slider
--------------------------*/
$--slider-main-background-color: $--color-primary;
$--slider-runway-background-color: $--border-color-light;
$--slider-button-hover-color: mix($--color-primary, black, 97%);
$--slider-stop-background-color: $--color-white;
$--slider-disable-color: $--color-text-placeholder;

$--slider-margin: 16px 0;
$--slider-border-radius: 3px;
$--slider-height: 6px;
$--slider-button-size: 16px;
$--slider-button-wrapper-size: 36px;
$--slider-button-wrapper-offset: -15px;

/* Steps
--------------------------*/
$--steps-border-color: $--disabled-border-base;
$--steps-border-radius: 4px;
$--steps-padding: 20px;

/* Menu
--------------------------*/
$--menu-item-font-size: $--font-size-base;
$--menu-item-color: $--color-text-primary;
$--menu-item-fill: $--color-white;
$--menu-item-hover-fill: $--color-primary-light-9;

/* Rate
--------------------------*/
$--rate-height: 20px;
$--rate-font-size: $--font-size-base;
$--rate-icon-size: 18px;
$--rate-icon-margin: 6px;
$--rate-icon-color: $--color-text-placeholder;

/* DatePicker
--------------------------*/
$--datepicker-color: $--color-text-regular;
$--datepicker-off-color: $--color-text-placeholder;
$--datepicker-header-color: $--color-text-regular;
$--datepicker-icon-color: $--color-text-primary;
$--datepicker-border-color: $--disabled-border-base;
$--datepicker-inner-border-color: #e4e4e4;
$--datepicker-inrange-color: $--border-color-extra-light;
$--datepicker-inrange-hover-color: $--border-color-extra-light;
$--datepicker-active-color: $--color-primary;
$--datepicker-text-hover-color: $--color-primary;
$--datepicker-cell-hover-color: #fff;

/* Loading
--------------------------*/
$--loading-spinner-size: 42px;
$--loading-fullscreen-spinner-size: 50px;

/* Scrollbar
--------------------------*/
$--scrollbar-background-color: rgba($--color-text-secondary, .3);
$--scrollbar-hover-background-color: rgba($--color-text-secondary, .5);

/* Carousel
--------------------------*/
$--carousel-arrow-font-size: 12px;
$--carousel-arrow-size: 36px;
$--carousel-arrow-background: rgba(31, 45, 61, 0.11);
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
$--carousel-indicator-width: 30px;
$--carousel-indicator-height: 2px;
$--carousel-indicator-padding-horizontal: 4px;
$--carousel-indicator-padding-vertical: 12px;
$--carousel-indicator-out-color: $--border-color-hover;

/* Collapse
--------------------------*/
$--collapse-border-color: $--border-color-lighter;
$--collapse-header-height: 48px;
$--collapse-header-padding: 20px;
$--collapse-header-fill: $--color-white;
$--collapse-header-color: $--color-text-primary;
$--collapse-header-size: 13px;
$--collapse-content-fill: $--color-white;
$--collapse-content-size: 13px;
$--collapse-content-color: $--color-text-primary;

/* Transfer
--------------------------*/
$--transfer-border-color: $--border-color-lighter;
$--transfer-border-radius: $--border-radius-base;
$--transfer-panel-width: 200px;
$--transfer-panel-header-height: 40px;
$--transfer-panel-header-background: $--background-color-base;
$--transfer-panel-footer-height: 40px;
$--transfer-panel-body-height: 246px;
$--transfer-item-height: 30px;
$--transfer-item-hover-background: $--color-text-secondary;
$--transfer-filter-height: 32px;

/* Header
  --------------------------*/
$--header-padding: 0 5px;

/* Footer
--------------------------*/
$--footer-padding: 0 5px;

/* Main
--------------------------*/
$--main-padding: 5px;

/* Break-point
--------------------------*/
$--sm: 768px;
$--md: 992px;
$--lg: 1200px;
$--xl: 1920px;


:export {
  allTransition: $--all-transition;
  fadeTransition: $--fade-transition;
  fadeLinearTransition: $--fade-linear-transition;
  mdFadeTransition: $--md-fade-transition;
  borderTransitionBase: $--border-transition-base;
  colorTransitionBase: $--color-transition-base;
  fillTransitionBase: $--fill-transition-base;
  colorWhite: $--color-white;
  colorBlack: $--color-black;
  colorPrimary: $--color-primary;
  colorPrimaryLight1: $--color-primary-light-1;
  colorPrimaryLight2: $--color-primary-light-2;
  colorPrimaryLight3: $--color-primary-light-3;
  colorPrimaryLight4: $--color-primary-light-4;
  colorPrimaryLight5: $--color-primary-light-5;
  colorPrimaryLight6: $--color-primary-light-6;
  colorPrimaryLight7: $--color-primary-light-7;
  colorPrimaryLight8: $--color-primary-light-8;
  colorPrimaryLight9: $--color-primary-light-9;
  colorSuccess: $--color-success;
  colorWarning: $--color-warning;
  colorDanger: $--color-danger;
  colorInfo: $--color-info;
  colorSuccessLight: $--color-success-light;
  colorWarningLight: $--color-warning-light;
  colorDangerLight: $--color-danger-light;
  colorInfoLight: $--color-info-light;
  colorSuccessLighter: $--color-success-lighter;
  colorWarningLighter: $--color-warning-lighter;
  colorDangerLighter: $--color-danger-lighter;
  colorInfoLighter: $--color-info-lighter;
  colorTextPrimary: $--color-text-primary;
  colorTextRegular: $--color-text-regular;
  colorTextSecondary: $--color-text-secondary;
  colorTextPlaceholder: $--color-text-placeholder;
  colorBackgroundMainHeader: $--color-background-main-header;
  colorBorderMainHeader: $--color-border-main-header;
  colorBackgroundMainAside: $--color-background-main-aside;
  colorBorderMainMainAside: $--color-border-main-main-aside;
  colorBackgroundMainContent: $--color-background-main-content;
  linkColor: $--link-color;
  linkHoverColor: $--link-hover-color;
  backgroundColorBase: $--background-color-base;
  borderWidthBase: $--border-width-base;
  borderStyleBase: $--border-style-base;
  borderColorBase: $--border-color-base;
  borderColorLight: $--border-color-light;
  borderColorLighter: $--border-color-lighter;
  borderColorExtraLight: $--border-color-extra-light;
  borderColorHover: $--border-color-hover;
  borderBase: $--border-base;
  borderRadiusBase: $--border-radius-base;
  borderRadiusSmall: $--border-radius-small;
  borderRadiusCircle: $--border-radius-circle;
  boxShadowBase: $--box-shadow-base;
  boxShadowDark: $--box-shadow-dark;
  boxShadowLight: $--box-shadow-light;
  boxShadowDarker: $--box-shadow-darker;
  fillBase: $--fill-base;
  fontPath: $--font-path;
  fontSizeBase: $--font-size-base;
  fontSizeSmall: $--font-size-small;
  fontSizeLarge: $--font-size-large;
  fontColorDisabledBase: $--font-color-disabled-base;
  fontWeightPrimary: $--font-weight-primary;
  fontLineHeightPrimary: $--font-line-height-primary;
  sizeBase: $--size-base;
  indexNormal: $--index-normal;
  indexTop: $--index-top;
  indexPopper: $--index-popper;
  disabledFillBase: $--disabled-fill-base;
  disabledColorBase: $--disabled-color-base;
  disabledBorderBase: $--disabled-border-base;
  iconColor: $--icon-color;
  iconColorBase: $--icon-color-base;
  checkboxFontSize: $--checkbox-font-size;
  checkboxFontWeight: $--checkbox-font-weight;
  checkboxColor: $--checkbox-color;
  checkboxInputHeight: $--checkbox-input-height;
  checkboxInputWidth: $--checkbox-input-width;
  checkboxInputBorderRadius: $--checkbox-input-border-radius;
  checkboxInputFill: $--checkbox-input-fill;
  checkboxInputBorder: $--checkbox-input-border;
  checkboxInputBorderColor: $--checkbox-input-border-color;
  checkboxIconColor: $--checkbox-icon-color;
  checkboxDisabledInputBorderColor: $--checkbox-disabled-input-border-color;
  checkboxDisabledInputFill: $--checkbox-disabled-input-fill;
  checkboxDisabledIconColor: $--checkbox-disabled-icon-color;
  checkboxDisabledCheckedInputFill: $--checkbox-disabled-checked-input-fill;
  checkboxDisabledCheckedInputBorderColor: $--checkbox-disabled-checked-input-border-color;
  checkboxDisabledCheckedIconColor: $--checkbox-disabled-checked-icon-color;
  checkboxCheckedTextColor: $--checkbox-checked-text-color;
  checkboxCheckedInputBorderColor: $--checkbox-checked-input-border-color;
  checkboxCheckedInputFill: $--checkbox-checked-input-fill;
  checkboxCheckedIconColor: $--checkbox-checked-icon-color;
  checkboxInputBorderColorHover: $--checkbox-input-border-color-hover;
  checkboxBorderedHeight: $--checkbox-bordered-height;
  checkboxBorderedPadding: $--checkbox-bordered-padding;
  checkboxBorderedMediumPadding: $--checkbox-bordered-medium-padding;
  checkboxBorderedSmallPadding: $--checkbox-bordered-small-padding;
  checkboxBorderedMiniPadding: $--checkbox-bordered-mini-padding;
  checkboxBorderedMediumInputHeight: $--checkbox-bordered-medium-input-height;
  checkboxBorderedMediumInputWidth: $--checkbox-bordered-medium-input-width;
  checkboxBorderedMediumHeight: $--checkbox-bordered-medium-height;
  checkboxBorderedSmallInputHeight: $--checkbox-bordered-small-input-height;
  checkboxBorderedSmallInputWidth: $--checkbox-bordered-small-input-width;
  checkboxBorderedSmallHeight: $--checkbox-bordered-small-height;
  checkboxBorderedMiniInputHeight: $--checkbox-bordered-mini-input-height;
  checkboxBorderedMiniInputWidth: $--checkbox-bordered-mini-input-width;
  checkboxBorderedMiniHeight: $--checkbox-bordered-mini-height;
  checkboxButtonFontSize: $--checkbox-button-font-size;
  checkboxButtonCheckedFill: $--checkbox-button-checked-fill;
  checkboxButtonCheckedColor: $--checkbox-button-checked-color;
  checkboxButtonCheckedBorderColor: $--checkbox-button-checked-border-color;
  radioFontSize: $--radio-font-size;
  radioFontWeight: $--radio-font-weight;
  radioColor: $--radio-color;
  radioInputHeight: $--radio-input-height;
  radioInputWidth: $--radio-input-width;
  radioInputBorderRadius: $--radio-input-border-radius;
  radioInputFill: $--radio-input-fill;
  radioInputBorder: $--radio-input-border;
  radioInputBorderColor: $--radio-input-border-color;
  radioIconColor: $--radio-icon-color;
  radioDisabledInputBorderColor: $--radio-disabled-input-border-color;
  radioDisabledInputFill: $--radio-disabled-input-fill;
  radioDisabledIconColor: $--radio-disabled-icon-color;
  radioDisabledCheckedInputBorderColor: $--radio-disabled-checked-input-border-color;
  radioDisabledCheckedInputFill: $--radio-disabled-checked-input-fill;
  radioDisabledCheckedIconColor: $--radio-disabled-checked-icon-color;
  radioCheckedTextColor: $--radio-checked-text-color;
  radioCheckedInputBorderColor: $--radio-checked-input-border-color;
  radioCheckedInputFill: $--radio-checked-input-fill;
  radioCheckedIconColor: $--radio-checked-icon-color;
  radioInputBorderColorHover: $--radio-input-border-color-hover;
  radioBorderedHeight: $--radio-bordered-height;
  radioBorderedPadding: $--radio-bordered-padding;
  radioBorderedMediumPadding: $--radio-bordered-medium-padding;
  radioBorderedSmallPadding: $--radio-bordered-small-padding;
  radioBorderedMiniPadding: $--radio-bordered-mini-padding;
  radioBorderedMediumInputHeight: $--radio-bordered-medium-input-height;
  radioBorderedMediumInputWidth: $--radio-bordered-medium-input-width;
  radioBorderedMediumHeight: $--radio-bordered-medium-height;
  radioBorderedSmallInputHeight: $--radio-bordered-small-input-height;
  radioBorderedSmallInputWidth: $--radio-bordered-small-input-width;
  radioBorderedSmallHeight: $--radio-bordered-small-height;
  radioBorderedMiniInputHeight: $--radio-bordered-mini-input-height;
  radioBorderedMiniInputWidth: $--radio-bordered-mini-input-width;
  radioBorderedMiniHeight: $--radio-bordered-mini-height;
  radioButtonFontSize: $--radio-button-font-size;
  radioButtonCheckedFill: $--radio-button-checked-fill;
  radioButtonCheckedColor: $--radio-button-checked-color;
  radioButtonCheckedBorderColor: $--radio-button-checked-border-color;
  radioButtonDisabledCheckedFill: $--radio-button-disabled-checked-fill;
  selectBorderColorHover: $--select-border-color-hover;
  selectDisabledBorder: $--select-disabled-border;
  selectFontSize: $--select-font-size;
  selectCloseHoverColor: $--select-close-hover-color;
  selectInputColor: $--select-input-color;
  selectMultipleInputColor: $--select-multiple-input-color;
  selectInputFocusBackground: $--select-input-focus-background;
  selectInputFontSize: $--select-input-font-size;
  selectOptionColor: $--select-option-color;
  selectOptionDisabledColor: $--select-option-disabled-color;
  selectOptionDisabledBackground: $--select-option-disabled-background;
  selectOptionHeight: $--select-option-height;
  selectOptionHoverBackground: $--select-option-hover-background;
  selectOptionSelected: $--select-option-selected;
  selectOptionSelectedHover: $--select-option-selected-hover;
  selectGroupColor: $--select-group-color;
  selectGroupHeight: $--select-group-height;
  selectGroupFontSize: $--select-group-font-size;
  selectDropdownBackground: $--select-dropdown-background;
  selectDropdownShadow: $--select-dropdown-shadow;
  selectDropdownEmptyColor: $--select-dropdown-empty-color;
  selectDropdownMaxHeight: $--select-dropdown-max-height;
  selectDropdownPadding: $--select-dropdown-padding;
  selectDropdownEmptyPadding: $--select-dropdown-empty-padding;
  selectDropdownBorder: $--select-dropdown-border;
  alertPadding: $--alert-padding;
  alertBorderRadius: $--alert-border-radius;
  alertTitleFontSize: $--alert-title-font-size;
  alertDescriptionFontSize: $--alert-description-font-size;
  alertCloseFontSize: $--alert-close-font-size;
  alertCloseCustomedFontSize: $--alert-close-customed-font-size;
  alertSuccessColor: $--alert-success-color;
  alertInfoColor: $--alert-info-color;
  alertWarningColor: $--alert-warning-color;
  alertDangerColor: $--alert-danger-color;
  alertIconSize: $--alert-icon-size;
  alertIconLargeSize: $--alert-icon-large-size;
  msgboxWidth: $--msgbox-width;
  msgboxBorderRadius: $--msgbox-border-radius;
  msgboxFontSize: $--msgbox-font-size;
  msgboxContentFontSize: $--msgbox-content-font-size;
  msgboxContentColor: $--msgbox-content-color;
  msgboxErrorFontSize: $--msgbox-error-font-size;
  msgboxPaddingPrimary: $--msgbox-padding-primary;
  msgboxSuccessColor: $--msgbox-success-color;
  msgboxInfoColor: $--msgbox-info-color;
  msgboxWarningColor: $--msgbox-warning-color;
  msgboxDangerColor: $--msgbox-danger-color;
  messageShadow: $--message-shadow;
  messageMinWidth: $--message-min-width;
  messageBackgroundColor: $--message-background-color;
  messagePadding: $--message-padding;
  messageContentColor: $--message-content-color;
  messageCloseColor: $--message-close-color;
  messageCloseSize: $--message-close-size;
  messageCloseHoverColor: $--message-close-hover-color;
  messageSuccessColor: $--message-success-color;
  messageInfoColor: $--message-info-color;
  messageWarningColor: $--message-warning-color;
  messageDangerColor: $--message-danger-color;
  notificationWidth: $--notification-width;
  notificationPadding: $--notification-padding;
  notificationRadius: $--notification-radius;
  notificationShadow: $--notification-shadow;
  notificationBorderColor: $--notification-border-color;
  notificationIconSize: $--notification-icon-size;
  notificationCloseFontSize: $--notification-close-font-size;
  notificationGroupMargin: $--notification-group-margin;
  notificationFontSize: $--notification-font-size;
  notificationColor: $--notification-color;
  notificationTitleFontSize: $--notification-title-font-size;
  notificationTitleColor: $--notification-title-color;
  notificationCloseColor: $--notification-close-color;
  notificationCloseHoverColor: $--notification-close-hover-color;
  notificationSuccessColor: $--notification-success-color;
  notificationInfoColor: $--notification-info-color;
  notificationWarningColor: $--notification-warning-color;
  notificationDangerColor: $--notification-danger-color;
  inputFontSize: $--input-font-size;
  inputColor: $--input-color;
  inputWidth: $--input-width;
  inputHeight: $--input-height;
  inputBorder: $--input-border;
  inputBorderColor: $--input-border-color;
  inputBorderRadius: $--input-border-radius;
  inputBorderColorHover: $--input-border-color-hover;
  inputFill: $--input-fill;
  inputFillDisabled: $--input-fill-disabled;
  inputColorDisabled: $--input-color-disabled;
  inputIconColor: $--input-icon-color;
  inputPlaceholderColor: $--input-placeholder-color;
  inputMaxWidth: $--input-max-width;
  inputHoverBorder: $--input-hover-border;
  inputClearHoverColor: $--input-clear-hover-color;
  inputFocusBorder: $--input-focus-border;
  inputFocusFill: $--input-focus-fill;
  inputDisabledFill: $--input-disabled-fill;
  inputDisabledBorder: $--input-disabled-border;
  inputDisabledColor: $--input-disabled-color;
  inputDisabledPlaceholderColor: $--input-disabled-placeholder-color;
  inputMediumFontSize: $--input-medium-font-size;
  inputMediumHeight: $--input-medium-height;
  inputSmallFontSize: $--input-small-font-size;
  inputSmallHeight: $--input-small-height;
  inputMiniFontSize: $--input-mini-font-size;
  inputMiniHeight: $--input-mini-height;
  cascaderMenuFill: $--cascader-menu-fill;
  cascaderMenuFontSize: $--cascader-menu-font-size;
  cascaderMenuRadius: $--cascader-menu-radius;
  cascaderMenuBorder: $--cascader-menu-border;
  cascaderMenuBorderColor: $--cascader-menu-border-color;
  cascaderMenuBorderWidth: $--cascader-menu-border-width;
  cascaderMenuColor: $--cascader-menu-color;
  cascaderMenuOptionColorActive: $--cascader-menu-option-color-active;
  cascaderMenuOptionFillActive: $--cascader-menu-option-fill-active;
  cascaderMenuOptionColorHover: $--cascader-menu-option-color-hover;
  cascaderMenuOptionFillHover: $--cascader-menu-option-fill-hover;
  cascaderMenuOptionColorDisabled: $--cascader-menu-option-color-disabled;
  cascaderMenuOptionFillDisabled: $--cascader-menu-option-fill-disabled;
  cascaderMenuOptionEmptyColor: $--cascader-menu-option-empty-color;
  cascaderMenuGroupColor: $--cascader-menu-group-color;
  cascaderMenuShadow: $--cascader-menu-shadow;
  cascaderMenuOptionPinyinColor: $--cascader-menu-option-pinyin-color;
  cascaderMenuSubmenuShadow: $--cascader-menu-submenu-shadow;
  groupOptionFlex: $--group-option-flex;
  groupOptionOffsetBottom: $--group-option-offset-bottom;
  groupOptionFillHover: $--group-option-fill-hover;
  groupTitleColor: $--group-title-color;
  groupTitleFontSize: $--group-title-font-size;
  groupTitleWidth: $--group-title-width;
  tabFontSize: $--tab-font-size;
  tabBorderLine: $--tab-border-line;
  tabHeaderColorActive: $--tab-header-color-active;
  tabHeaderColorHover: $--tab-header-color-hover;
  tabHeaderColor: $--tab-header-color;
  tabHeaderFillActive: $--tab-header-fill-active;
  tabHeaderFillHover: $--tab-header-fill-hover;
  tabVerticalHeaderWidth: $--tab-vertical-header-width;
  tabVerticalHeaderCountColor: $--tab-vertical-header-count-color;
  tabVerticalHeaderCountFill: $--tab-vertical-header-count-fill;
  buttonFontSize: $--button-font-size;
  buttonFontWeight: $--button-font-weight;
  buttonBorderRadius: $--button-border-radius;
  buttonPaddingVertical: $--button-padding-vertical;
  buttonPaddingHorizontal: $--button-padding-horizontal;
  buttonMediumFontSize: $--button-medium-font-size;
  buttonMediumBorderRadius: $--button-medium-border-radius;
  buttonMediumPaddingVertical: $--button-medium-padding-vertical;
  buttonMediumPaddingHorizontal: $--button-medium-padding-horizontal;
  buttonSmallFontSize: $--button-small-font-size;
  buttonSmallBorderRadius: $--button-small-border-radius;
  buttonSmallPaddingVertical: $--button-small-padding-vertical;
  buttonSmallPaddingHorizontal: $--button-small-padding-horizontal;
  buttonMiniFontSize: $--button-mini-font-size;
  buttonMiniBorderRadius: $--button-mini-border-radius;
  buttonMiniPaddingVertical: $--button-mini-padding-vertical;
  buttonMiniPaddingHorizontal: $--button-mini-padding-horizontal;
  buttonDefaultColor: $--button-default-color;
  buttonDefaultFill: $--button-default-fill;
  buttonDefaultBorder: $--button-default-border;
  buttonDisabledColor: $--button-disabled-color;
  buttonDisabledFill: $--button-disabled-fill;
  buttonDisabledBorder: $--button-disabled-border;
  buttonPrimaryBorder: $--button-primary-border;
  buttonPrimaryColor: $--button-primary-color;
  buttonPrimaryFill: $--button-primary-fill;
  buttonSuccessBorder: $--button-success-border;
  buttonSuccessColor: $--button-success-color;
  buttonSuccessFill: $--button-success-fill;
  buttonWarningBorder: $--button-warning-border;
  buttonWarningColor: $--button-warning-color;
  buttonWarningFill: $--button-warning-fill;
  buttonDangerBorder: $--button-danger-border;
  buttonDangerColor: $--button-danger-color;
  buttonDangerFill: $--button-danger-fill;
  buttonInfoBorder: $--button-info-border;
  buttonInfoColor: $--button-info-color;
  buttonInfoFill: $--button-info-fill;
  buttonHoverTintPercent: $--button-hover-tint-percent;
  buttonActiveShadePercent: $--button-active-shade-percent;
  cascaderHeight: $--cascader-height;
  switchOnColor: $--switch-on-color;
  switchOffColor: $--switch-off-color;
  switchDisabledColor: $--switch-disabled-color;
  switchDisabledTextColor: $--switch-disabled-text-color;
  switchFontSize: $--switch-font-size;
  switchCoreBorderRadius: $--switch-core-border-radius;
  switchWidth: $--switch-width;
  switchHeight: $--switch-height;
  switchButtonSize: $--switch-button-size;
  dialogBackgroundColor: $--dialog-background-color;
  dialogBoxShadow: $--dialog-box-shadow;
  dialogCloseHoverColor: $--dialog-close-hover-color;
  dialogTitleFontSize: $--dialog-title-font-size;
  dialogFontSize: $--dialog-font-size;
  dialogLineHeight: $--dialog-line-height;
  dialogPaddingPrimary: $--dialog-padding-primary;
  tableBorderColor: $--table-border-color;
  tableBorder: $--table-border;
  tableTextColor: $--table-text-color;
  tableHeaderColor: $--table-header-color;
  tableRowHoverBackground: $--table-row-hover-background;
  tableCurrentRowBackground: $--table-current-row-background;
  tableHeaderBackground: $--table-header-background;
  tableFooterBackground: $--table-footer-background;
  tableFixedBoxShadow: $--table-fixed-box-shadow;
  paginationFontSize: $--pagination-font-size;
  paginationFill: $--pagination-fill;
  paginationColor: $--pagination-color;
  paginationBorderRadius: $--pagination-border-radius;
  paginationButtonColor: $--pagination-button-color;
  paginationButtonWidth: $--pagination-button-width;
  paginationButtonHeight: $--pagination-button-height;
  paginationButtonDisabledColor: $--pagination-button-disabled-color;
  paginationButtonDisabledFill: $--pagination-button-disabled-fill;
  paginationHoverFill: $--pagination-hover-fill;
  paginationHoverColor: $--pagination-hover-color;
  popoverFill: $--popover-fill;
  popoverFontSize: $--popover-font-size;
  popoverBorderColor: $--popover-border-color;
  popoverArrowSize: $--popover-arrow-size;
  popoverPadding: $--popover-padding;
  popoverPaddingLarge: $--popover-padding-large;
  popoverTitleFontSize: $--popover-title-font-size;
  popoverTitleColor: $--popover-title-color;
  tooltipFill: $--tooltip-fill;
  tooltipColor: $--tooltip-color;
  tooltipFontSize: $--tooltip-font-size;
  tooltipBorderColor: $--tooltip-border-color;
  tooltipArrowSize: $--tooltip-arrow-size;
  tooltipPadding: $--tooltip-padding;
  tagPadding: $--tag-padding;
  tagFill: $--tag-fill;
  tagColor: $--tag-color;
  tagBorder: $--tag-border;
  tagFontSize: $--tag-font-size;
  tagBorderRadius: $--tag-border-radius;
  tagInfoFill: $--tag-info-fill;
  tagInfoBorder: $--tag-info-border;
  tagInfoColor: $--tag-info-color;
  tagPrimaryFill: $--tag-primary-fill;
  tagPrimaryBorder: $--tag-primary-border;
  tagPrimaryColor: $--tag-primary-color;
  tagSuccessFill: $--tag-success-fill;
  tagSuccessBorder: $--tag-success-border;
  tagSuccessColor: $--tag-success-color;
  tagWarningFill: $--tag-warning-fill;
  tagWarningBorder: $--tag-warning-border;
  tagWarningColor: $--tag-warning-color;
  tagDangerFill: $--tag-danger-fill;
  tagDangerBorder: $--tag-danger-border;
  tagDangerColor: $--tag-danger-color;
  treeNodeHoverColor: $--tree-node-hover-color;
  treeTextColor: $--tree-text-color;
  treeExpandIconColor: $--tree-expand-icon-color;
  dropdownMenuBoxShadow: $--dropdown-menu-box-shadow;
  dropdownMenuItemHoverFill: $--dropdown-menuItem-hover-fill;
  dropdownMenuitemHoverColor: $--dropdown-menuItem-hover-color;
  badgeFill: $--badge-fill;
  badgeRadius: $--badge-radius;
  badgeFontSize: $--badge-font-size;
  badgePadding: $--badge-padding;
  badgeSize: $--badge-size;
  cardBorderColor: $--card-border-color;
  cardBorderRadius: $--card-border-radius;
  cardPadding: $--card-padding;
  sliderMainBackgroundColor: $--slider-main-background-color;
  sliderRunwayBackgroundColor: $--slider-runway-background-color;
  sliderButtonHoverColor: $--slider-button-hover-color;
  sliderStopBackgroundColor: $--slider-stop-background-color;
  sliderDisableColor: $--slider-disable-color;
  sliderMargin: $--slider-margin;
  sliderBorderRadius: $--slider-border-radius;
  sliderHeight: $--slider-height;
  sliderButtonSize: $--slider-button-size;
  sliderButtonWrapperSize: $--slider-button-wrapper-size;
  sliderButtonWrapperOffset: $--slider-button-wrapper-offset;
  stepsBorderColor: $--steps-border-color;
  stepsBorderRadius: $--steps-border-radius;
  stepsPadding: $--steps-padding;
  menuItemFontSize: $--menu-item-font-size;
  menuItemColor: $--menu-item-color;
  menuItemFill: $--menu-item-fill;
  menuItemHoverFill: $--menu-item-hover-fill;
  rateHeight: $--rate-height;
  rateFontSize: $--rate-font-size;
  rateIconSize: $--rate-icon-size;
  rateIconMargin: $--rate-icon-margin;
  rateIconColor: $--rate-icon-color;
  datepickerColor: $--datepicker-color;
  datepickerOffColor: $--datepicker-off-color;
  datepickerHeaderColor: $--datepicker-header-color;
  datepickerIconColor: $--datepicker-icon-color;
  datepickerBorderColor: $--datepicker-border-color;
  datepickerInnerBorderColor: $--datepicker-inner-border-color;
  datepickerInrangeColor: $--datepicker-inrange-color;
  datepickerInrangeHoverColor: $--datepicker-inrange-hover-color;
  datepickerActiveColor: $--datepicker-active-color;
  datepickerTextHoverColor: $--datepicker-text-hover-color;
  datepickerCellHoverColor: $--datepicker-cell-hover-color;
  loadingSpinnerSize: $--loading-spinner-size;
  loadingFullscreenSpinnerSize: $--loading-fullscreen-spinner-size;
  scrollbarBackgroundColor: $--scrollbar-background-color;
  scrollbarHoverBackgroundColor: $--scrollbar-hover-background-color;
  carouselArrowFontSize: $--carousel-arrow-font-size;
  carouselArrowSize: $--carousel-arrow-size;
  carouselArrowBackground: $--carousel-arrow-background;
  carouselArrowHoverBackground: $--carousel-arrow-hover-background;
  carouselIndicatorWidth: $--carousel-indicator-width;
  carouselIndicatorHeight: $--carousel-indicator-height;
  carouselIndicatorPaddingHorizontal: $--carousel-indicator-padding-horizontal;
  carouselIndicatorPaddingVertical: $--carousel-indicator-padding-vertical;
  carouselIndicatorOutColor: $--carousel-indicator-out-color;
  collapseBorderColor: $--collapse-border-color;
  collapseHeaderHeight: $--collapse-header-height;
  collapseHeaderPadding: $--collapse-header-padding;
  collapseHeaderFill: $--collapse-header-fill;
  collapseHeaderColor: $--collapse-header-color;
  collapseHeaderSize: $--collapse-header-size;
  collapseContentFill: $--collapse-content-fill;
  collapseContentSize: $--collapse-content-size;
  collapseContentColor: $--collapse-content-color;
  transferBorderColor: $--transfer-border-color;
  transferBorderRadius: $--transfer-border-radius;
  transferPanelWidth: $--transfer-panel-width;
  transferPanelHeaderHeight: $--transfer-panel-header-height;
  transferPanelHeaderBackground: $--transfer-panel-header-background;
  transferPanelFooterHeight: $--transfer-panel-footer-height;
  transferPanelBodyHeight: $--transfer-panel-body-height;
  transferItemHeight: $--transfer-item-height;
  transferItemHoverBackground: $--transfer-item-hover-background;
  transferFilterHeight: $--transfer-filter-height;
  headerPadding: $--header-padding;
  footerPadding: $--footer-padding;
  mainPadding: $--main-padding;
  sm: $--sm;
  md: $--md;
  lg: $--lg;
  xl: $--xl;
}